<%= render "users/profiles/user_card", user: @user %>
<% content_for :title do %>
  <%= @user.username %> Profile
<% end %>
<% if !turbo_native_app? %>
  <h4 class="display-4 text-center text-light">Favorites</h4>
<% end %>
<% @user.favorites.map do |favorite| %>
  <div class="row">
    <div class="col">
      <div class="card border text-light border-white border-2 m-2">
        <%= link_to hotsauce_path(favorite.hotsauce) do %>
          <div class="card-body bg-peppers">
            <div class="row">
              <div class="col-4">
                <% if favorite.hotsauce.sauce_bottle_image.attached? %>
                  <%= image_tag favorite.hotsauce.sauce_bottle_image.variant(:medium), class: "img-thumbnail" %>
                <% else %>
                  <%= image_tag "ketchup_bottle.png", class: "img-thumbnail" %>
                <% end %>
              </div>
              <div class="col-6">
                <h5 class="card-title fs-1"><%= favorite.hotsauce.name %></h5>
                <span class="badge bg-primary"><%= favorite.hotsauce.category %></span>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <% if @user == current_user %>
                  <%= link_to "Remove from favorites", favorite_path(favorite), class: "btn btn-danger", data: { turbo_method: :delete } %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
