<%= render CardComponent.new do %>
  <p>
    <%= link_to user_profile_path(feed_item.user), class: "link-primary" do %>
      <%= feed_item.user.username %>
    <% end %>
    added <%= link_to feed_item.feedable.hotsauce.name, hotsauce_path(feed_item.feedable.hotsauce), class: "link-primary" %> to their favorites
  </p>
  <div>
    <% if feed_item.feedable.hotsauce.sauce_bottle_image.attached? %>
      <%= image_tag feed_item.feedable.hotsauce.sauce_bottle_image, class: "h-auto max-w-xs rounded-lg" %>
    <% else %>
      <%= image_tag "ketchup_bottle.png", class: "h-auto max-w-xs rounded-lg" %>
    <% end %>
  </div>
  <small>
    <%= time_ago_in_words(feed_item.created_at) %> ago </small>
<% end %>
