<% content_for :title do %>
  Log In
<% end %>
<div class="flex items-center justify-center w-screen h-screen">
  <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-6" }, remote: true) do |f| %>
      <form class="space-y-6" action="#">
        <h5 class="text-xl mb-4 font-medium text-gray-900 dark:text-white">Sign in to our platform</h5>
        <div>
          <%= f.label :username, class: "form-label" %>
          <%= f.text_field :username, autofocus: true, required: true, autocomplete: "username", class: "form-text-input ", placeholder: "Username", autocapitalize: "none" %>
        </div>
        <div>
          <%= f.label :password, class: "form-label" %>
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", autocapitalize: "none", required: true, class: "form-text-input" %>
        </div>
        <div class="flex mt-2 items-start">
          <% if devise_mapping.rememberable? %>
            <div class="flex items-start">
              <div class="flex items-center h-5">
                <%= f.check_box :remember_me, class: "w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" %>
              </div>
              <%= f.label :remember_me, class: "ml-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
            </div>
          <% end %>
          <%= link_to "Lost Password?", new_password_path(resource_name), class: "ml-auto text-sm text-blue-700 hover:underline dark:text-blue-500" %>
        </div>
        <%= f.submit "Log in to your account", class: "btn-primary" %>
        <div class="text-sm font-medium text-gray-500 dark:text-gray-300 mt-2">
          Not registered? <%= link_to "Create account", new_user_registration_path, class: "text-blue-700 hover:underline dark:text-blue-500" %>
        </div>
      </form>
    <% end %>
  </div>
</div>
