<%= form_with(model: hotsauce) do |form| %>
  <% if hotsauce.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(hotsauce.errors.count, "error") %> prohibited this hotsauce from being saved:</h2>

      <ul>
        <% hotsauce.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex flex-column justify-content-center align-items-center">
    <div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div>
      <%= form.label :description, style: "display: block" %>
      <%= form.text_field :description, class: "form-control" %>
    </div>

    <div>
      <%= form.label :rating, style: "display: block" %>
      <%= form.select :rating, options_for_select([["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]], selected: hotsauce.rating) %>
    </div>

    <div>
      <%= form.label :review, style: "display: block" %>
      <%= form.text_area :review, class: "form-control" %>
    </div>

    <div>
      <%= form.label :location, style: "display: block" %>
      <%= form.text_field :location, class: "form-control" %>
    </div>

    <div class="m-2">
      <%= form.label "Upload image of hotsauce bottle" %>
      <p><%= form.file_field :sauce_bottle_image, class: "m-2" %></p>
    </div>

    <div>
      <%= form.submit nil, class: "btn btn-primary mt-2" %>
    </div>
  </div>
<% end %>
