  <%= form_with(model: hotsauce) do |form| %>
  <% if hotsauce.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(hotsauce.errors.count, "error") %> prohibited this hotsauce from being saved:</h2>
      <ul>
        <% hotsauce.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render TextInputComponent.new(label: "Name") do %>
    <%= form.text_field :name, placeholder: "Sriracha", class: "placeholder-red-500 text-input-bordered" %>
  <% end %>
  <%= render TextInputComponent.new(label: "Description") do %>
    <%= form.text_field :description, placeholder: "Spicy, garlicky, tangy chili sauce with a kick that adds flavor and heat to any dish.", class: "placeholder-red-500 text-input-bordered" %>
  <% end %>
  <%= render SelectInputComponent.new(label: "Category") do %>
    <%= form.select :category, options_for_select([["Hot Sauce", "Hot Sauce"], ["Salsa", "Salsa"], ["BBQ Sauce", "BBQ Sauce"], ["Dry Rub", "Dry Rub"], ["Other", "Other"]], selected: hotsauce.category), {}, class: "text-red-500 select select-bordered" %>
  <% end %>
  <%= render FileInputComponent.new(label: "Upload image of product") do %>
    <%= form.file_field :sauce_bottle_image, class: "file-input-boredered mb-4" %>
  <% end %>
  <div class="card-actions justify-end">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
