<div class="d-flex justify-content-center align-items-center">
  <div class="card mb-2" style="width: 18rem;">
    <% if hotsauce.sauce_bottle_image.attached? %>
      <%= image_tag hotsauce.sauce_bottle_image, class: "sauce-image" %>
    <% end %>
    <div class="card-body hot-sauce-card">
      <h5 class="card-title fs-1"><%= hotsauce.name %></h5>
      <small class="text-center text-muted"><%= hotsauce.description %></small>
      <hr>
      <p class="card-text"><%= hotsauce.review %></p>
      <p><%= hotsauce.rating %></p>
      <%= link_to "Show #{hotsauce.name}", hotsauce, class: "btn btn-primary" %>
    </div>
  </div>
</div>
