<div class="d-flex justify-content-center align-items-center">
  <div class="card border border-white border-2 mb-2" style="width: 18rem;">
    <% if hotsauce.sauce_bottle_image.attached? %>
      <%= image_tag hotsauce.sauce_bottle_image, class: "sauce-image" %>
    <% end %>
    <div class="card-body bg-peppers">
      <h5 class="card-title fs-1"><%= hotsauce.name %></h5>
      <div>
        <span class="badge bg-primary"><%= hotsauce.category %></span>
      </div>
      <small style="color: lime;" class="text-center"><%= hotsauce.description %></small>
      <hr>
      <p class="card-text fw-semibold"><%= hotsauce.review %></p>
      <p><%= hotsauce.rating %></p>
      <%= link_to "Show #{hotsauce.name}", hotsauce, class: "btn btn-primary" %>
    </div>
  </div>
</div>
