<%= content_for :title do %>
  Edit
<% end %>
<div class="flex flex-col text-center text-white justify-center items-center h-screen">
  <%= render CardComponent.new(container_classes: "bg-peppers border-2 border-white w-96 my-10", title: "Editing #{@hotsauce.name.titleize}") do %>
    <%= render "form", hotsauce: @hotsauce %>
    <%= link_to "Show this hotsauce", @hotsauce, class: "btn btn-secondary my-2" %>
    <%= link_to "Back to hotsauces", hotsauces_path, class: "btn btn-accent" %>
  <% end %>
</div>
