<% content_for :title do %>
  Hot Sauces
<% end %>
<% if !turbo_native_app? %>
  <h4 class="display-4 text-center text-light">Hot Sauces</h4>
<% end %>
<div class="flex justify-center items-center w-fit mb-4 mx-auto">
  <%= render PrimaryButtonComponent.new(btn_name: "New Hotsauce", btn_path: new_hotsauce_path, is_link: true) %>
</div>
<div class="container mx-auto px-10 flex justify-center items-center gap-4">
  <% @hotsauces.each do |hotsauce| %>
    <%= render CardComponent.new do %>
      <%= link_to hotsauce_path(hotsauce), class: "container mx-auto px-10" do %>
        <div>
          <% if hotsauce.sauce_bottle_image.attached? %>
            <%= image_tag hotsauce.sauce_bottle_image, class: "h-auto max-w-xs rounded-lg" %>
          <% else %>
            <%= image_tag "ketchup_bottle.png", class: "h-auto max-w-xs rounded-lg" %>
          <% end %>
        </div>
        <div>
          <h5 class="text-2xl font-bold"><%= hotsauce.name %></h5>
          <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300"><%= hotsauce.category %></span>
          <br />
          Rating: <%= hotsauce.rating %>
          <br />
          <% if hotsauce.has_rating? %>
            <p>
              <sl-rating readonly label="Rating" precision="0.5" value="<%= hotsauce.rating %>"></sl-rating>
            </p>
          <% else %>
            <p>
              <%= "No stars..." %>
            </p>
          <% end %>
          Checkins: <%= hotsauce.checkins.count %>
        </div>
        <br />
      <% end %>
    <% end %>
  <% end %>
</div>
