<%= turbo_frame_tag dom_id(checkin) do %>
  <% if user_signed_in? && current_user.likes?(checkin) %>
    <%= link_to checkin_like_path(checkin),  data: { turbo_method: :delete }, class: "text-decoration-none" do %>
      <i class="bi bi-hand-thumbs-up-fill text-3xl text-white"></i>
    <% end %>
  <% else %>
    <%= link_to checkin_like_path(checkin), data: { turbo_method: :post }, class: "text-decoration-none" do %>
      <i class="bi bi-hand-thumbs-up text-3xl inline text-white"></i>
    <% end %>
  <% end %>
  <%= link_to "#", onclick: "likesModal_#{dom_id(checkin)}.showModal()", class: "link-secondary" do %>
    <%= checkin.likes.count %> likes
  <% end %>
<% end %>
<%= render ModalComponent.new(modal_title: "#{checkin.user.username}'s #{checkin.hotsauce.name} checkin likes", modal_id: "likesModal_#{dom_id(checkin)}") do %>
  <% checkin.likes.each do |like| %>
    <% if like.user.avatar.attached? %>
      <%= image_tag like.user.avatar.variant(:thumb), class: "inline mt-4 mr-4 rounded-full" %>
    <% end %>
    <p class="py-4 inline"><%= link_to like.user.username, user_profile_path(like.user), class: "link link-primary mt-4" %></p>
  <% end %>
<% end %>
