<h4 class="display-4 text-white text-center">Check into <%= @hotsauce.name %></h4>

<div class="row">
  <div class="col">

    <div class="card border text-light border-white border-2 m-2">
      <div class="card-body bg-peppers">
        <%= form_with(model: @checkin) do |f| %>
          <div class="my-2">
            <%= f.label :rating, class: "form-label" %>
            <%= f.number_field :rating, class: "form-control" %>
          </div>

          <%= f.text_field :location, placeholder: "Location (optional)", class: "form-control" %>

          <div class="d-grid gap-2 my-3">
            <%= f.submit "Check in", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
