<% if turbo_native_app? %>
<% else %>
  <div class="navbar bg-base-100 justify-between items-center">
    <div class="flex justify-start items-center">
      <%= link_to root_path do %>
        <%= image_tag "sauced_logo.png", class: "h-8 ml-3 mr-3 inline", alt: "Sauced Logo" %>
        <span class="btn btn-ghost normal-case text-xl">Sauced</span>
      <% end %>
    </div>
    <div class="mr-32">
      <ul class="menu menu-horizontal px-1">
        <li><%= link_to "Home", root_path, class: "text-lg #{active_link_class(feed_items_path)}" %></li>
        <li><%= link_to "Sauces", hotsauces_path, class: "text-lg #{active_link_class(hotsauces_path)}" %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Profile", user_profile_path(current_user), class: "text-lg #{active_link_class(user_profile_path(current_user))}" %></li>
        <% end %>
      </ul>
    </div>
    <div class="flex justify-end items-center">
      <% if user_signed_in? %>
        <div class="dropdown dropdown-end">
          <label tabindex="0" class="btn btn-ghost btn-circle avatar">
            <div class="w-10 rounded-full">
              <% if current_user.avatar.attached? %>
                <%= image_tag current_user.avatar, alt: "#{current_user.username} avatar" %>
              <% else %>
                <%= image_tag "ketchup_bottle.png", alt: "Ketchup Bottle Default Avatar" %>
              <% end %>
            </div>
          </label>
          <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
            <li>
              <%= link_to "Profile", user_profile_path(current_user), class: "justify-between" %>
            </li>
            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
