<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if content_for? :title %>
        <%= yield :title %>
      <% else %>
        Sauced
      <% end %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.1.0/dist/themes/light.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-flames vh-100">
    <%= render "layouts/navbar" %>
    <%= render "layouts/alerts" %>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
